<?xml version="1.0" encoding="UTF-8"?><CommandWorkflows>
  <system>
    <system>
      <Workflow Name="startup" Value="commandSequencer name,application,true version about"/>
      <Workflow Name="details" Value="commandSequencer name,application version about"/>
      <Workflow Name="applicationDetails" Value="commandSequencer name,application version about"/>
      <Workflow Name="frameworkDetails" Value="commandSequencer name,framework,true version,framework about,framework"/>
      <Workflow Name="system" Value="cmdSeq wrkflo,startup wrkflo,details wrkflo,applicationDetails wrkflo,frameworkDetails"/>
    </system>
  </system>
</CommandWorkflows>
